@model IEnumerable<FreezyShop.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}





  <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link rel="stylesheet" href="~/css/dashproducts.css">
    </head>

    <body>
    <partial name="_Dashboard" />
        <section style="position: absolute;
    margin-left: 316px;
    width: 80%;">
           

            <h3 class="i-name">
                Products
            </h3>
            

            <div class="values">
                <div class="val-box">
                    
                    <i class="fas fa-users"></i>
                    <div>
                        <a asp-action="Create"> <h3>Add</h3>
                        <span>Products</span></a>
                    </div>
                </div>

              
            </div>

            <dir class="board">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Product</td>
                            <td>Description</td>
                            <td>Price</td>
                            <td>Categories</td>
                            <td>Sizes</td>
                            <td>Color</td>
                            <td>Gender</td>
                            <td>Edit Product</td>
                            <td>Remove Product</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                        <tr>
                            <td class="products">
                                <img src="@Url.Content(@item.Imageurl1)" alt="">
                                <div class="product-de">
                                    <h5>@item.Name</h5>
                                </div>
                            </td>
                            <td class="product-de">
                                 <h5>@item.Description</h5>
                            </td>
                             <td class="product-de">
                                 <h5>@item.Price €</h5>
                            </td>
                             <td class="product-de">
                                  @foreach(var item1 in item.CategoriesOfTheProduct)
                                   {
                                    <a>|@Html.DisplayFor(modelitem => item1.Name)| </a>
                                   }
                            </td>
                             <td class="product-de">
                                  @foreach(var item1 in item.SizesOfTheProduct)
                                   {
                                    <a>|@Html.DisplayFor(modelitem => item1.Size)| </a>
                                   }
                            </td>
                              <td class="product-de">
                                 <h5>@item.Color</h5>
                            </td>
                              <td class="product-de">
                                 <h5>@item.Gender</h5>
                            </td>
                            <td class="edit"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                            <td class="edit"><a  asp-action="Delete" asp-route-id="@item.Id">Remove</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </dir>


        </section>
    </body>
